<div style="text-align: center;">
    <h1></h1>

    <mat-card>
        <mat-card-header class="card-header-justify">
            <h2>Staff List</h2>
            
        </mat-card-header>
        <mat-card-content>
            <div class="mat-elevation-z8">
                <table mat-table matSort  [dataSource]="dataSource">
              
                  <!-- Position Column -->
                  <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> Username </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container  matColumnDef="name">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>
              
                  <!-- Weight Column -->
                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                  </ng-container>
              
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.isactive ? 'Active':'In Active'}} </td>
                  </ng-container>
                  <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef> Role </th>
                    <td mat-cell *matCellDef="let element"> {{element.role ===''? 'Un Assigned':element.role}} </td>
                  </ng-container>
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action &nbsp;
                        <button *ngIf="userRole !=='user'" (click)="adduser()" mat-raised-button color="primary">Add</button>
                    </th>
                    <td mat-cell *matCellDef="let element">  
                        <button *ngIf="userRole =='admin'" (click)="updateuser(element.id)" mat-raised-button color="primary">Edit</button>
                        <button *ngIf="userRole == 'admin' && element.role !== 'admin'" (click)="removeuser(element.id)" mat-raised-button color="accent">Remove</button>
                        <button (click)="viewuser(element.id)" mat-raised-button color="secondary">View</button>
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                               showFirstLastButtons
                               aria-label="Select page of periodic elements">
                </mat-paginator>
              </div>
        </mat-card-content>
      </mat-card>
    
    
</div>